doctype html
html
  head
    title DJ LEEK // Columbus, Ohio
    base(href="/")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Open+Sans:300,400", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    video(poster="/images/Prime1.jpg", id="bgvid", playsinline, autoplay, muted, loop)
      source(src="/images/LEEK2.mov")
    .container(ng-app='leek')
      .row
        nav.navbar.fixed-top
          ul.nav.col-md-12.justify-content-center
            li.nav-item
              a.nav-link(href="/") HOME  
            li.nav-item
              a.nav-link(href="/about") ABOUT
            li.nav-item
              a.nav-link(href="/events") EVENTS
            li.nav-item
              a.nav-link(href="/images") IMAGES
      .row
        .col-md-12
          .page-content
            ui-view
      nav.navbar.fixed-bottom
        ul.nav.col-md-12.justify-content-center
          li.nav-item
            a.nav-link(href="https://www.facebook.com/thedjleek/", target="_blank")
              i.fa.fa-facebook(aria-hidden="true")
          li.nav-item
            a.nav-link(href="https://twitter.com/thedjleek_", target="_blank")
              i.fa.fa-twitter(aria-hidden="true")
          li.nav-item
            a.nav-link(href="https://www.instagram.com/thedjleek/?hl=en", target="_blank")
              i.fa.fa-instagram(aria-hidden="true")
          li.nav-item
            a.nav-link(href="#", target="_blank")
              i.fa.fa-soundcloud(aria-hidden="true")    
      
  script(src='/scripts/moment/min/moment.min.js')
  script(src='/scripts/angular/angular.min.js')
  script(src='/scripts/angular-animate/angular-animate.min.js')
  script(src='/scripts/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/javascripts/angular.mdl.js')
  script(src='/javascripts/angular.formatDate.filter.js')
  script(src='/javascripts/angular.getContent.svc.js')
  script(src='/javascripts/angular.nav.ctrl.js')
  script(src='/javascripts/angular.config.js')
  script(src='/javascripts/angular.home.ctrl.js')
  script(src='/javascripts/angular.about.ctrl.js')
  script(src='/javascripts/angular.events.ctrl.js')
  script(src='/javascripts/angular.img.ctrl.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/ga.tracking.js')
